<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width,initial-scale=1"/>

		<title>{% block title %}{% endblock title %}</title>

		<style>
			body {
				background: #111;
				color: #ddd;
			}

			main {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}

			h1, h2, h3, h4, h5, h6 {
				font-family: Segoe UI, Aileron, helvetica, sans-serif;
				font-weight: lighter;
				color: #fff;
			}

			button {
				background: #ddd;
				border-radius: 4px;
				border: 4px #000;
				color: #333;
				font-size: 1.25em;
				width: 120px;
			}

			button:active:enabled {
				background: #bbb;
			}

			button:disabled {
				background: #eee;
				color: #888;
			}

			input {
				background: #ddd;
				border-radius: 4px;
				border: 4px #000;
				font-size: 1.25em;
				width: 120px;
			}

			input:active:enabled {
				background: #bbb;
			}

			input:disabled {
				background: #eee;
				color: #888;
			}
		</style>
		{% endblock head %}
	</head>
	<body>
		<main>
			{% block content %}{% endblock content %}
		</main>
	</body>
</html>
