<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>{% block title %}{% endblock title %}</title>
		{% endblock head %}
	</head>
	<body>
		<main>
			{% block content %}{% endblock content %}
		</main>
	</body>
</html>
