<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width,initial-scale=1"/>

		<link rel="icon" type="image/png" href="/static/icons/lights-96-any.png"/>
		<link rel="manifest" href="/manifest.json"/>

		<title>{% block title %}{% endblock title %}</title>

		<style>
			body {
				background: #111;
				color: #ddd;
				width: 100%;
				padding: 0px;
				margin: 0px;
			}

			main {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}

			footer {
				font-family: Segoe UI, Aileron, helvetica, sans-serif;
				font-weight: lighter;
				display: table;
				width: 100%;
				position: absolute;
				bottom: 0em;
			}

			footer * {
				max-height: 3em;
			}

			footer > * {
				height: 3em;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}

			h1, h2, h3, h4, h5, h6 {
				font-family: Segoe UI, Aileron, helvetica, sans-serif;
				font-weight: lighter;
				color: #fff;
			}


			a {
				color: #4bf;
				text-decoration: none;
				transition: all 0.5s;
			}

			a:hover {
				color: #2ff;
				text-shadow: 0 0 0.2em #09f;
			}

			button {
				background: #ddd;
				border-radius: 4px;
				border: 4px #000;
				color: #333;
				font-size: 1.25em;
				width: 120px;
			}

			button:active:enabled {
				background: #bbb;
			}

			button:disabled {
				background: #eee;
				color: #888;
			}

			input {
				background: #ddd;
				border-radius: 4px;
				border: 4px #000;
				font-size: 1.25em;
				width: 120px;
			}

			input:active:enabled {
				background: #bbb;
			}

			input:disabled {
				background: #eee;
				color: #888;
			}
		</style>

		<script>
			navigator.serviceWorker.register('/service-worker.js');
		</script>
		{% endblock head %}
	</head>
	<body>
		<main>
			{% block content %}{% endblock content %}
		</main>
		<footer>
			<p><a href="https://github.com/lilyinstarlight/lights#api" target="_blank" rel="noreferrer">API Documentation</a></p>
		</footer>
	</body>
</html>
